name: Build Doc Indexer and Deploy Jekyll with GitHub Pages dependencies preinstalled

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      # The Maven version of the WildFly Doc Indexer to download
      WILDFLY_DOC_INDEXER_VERSION: "1.0.4.Final"
      # The specific WildFly version doc dir that we want to scan
      WILDFLY_DOC_DIR_VERSION_TO_SCAN: "38"

    steps:
    # 1. Checkout repository
    - name: Checkout
      uses: actions/checkout@v4

    # 2. Create indexer working directory and download JAR
    - name: Download WildFly Doc Indexer
      env:
        JAR_URL: "https://repository.jboss.org/nexus/repository/public/org/wildfly/wildfly-doc-indexer/wildfly-doc-indexer/${{ env.WILDFLY_DOC_INDEXER_VERSION }}/wildfly-doc-indexer-${{ env.WILDFLY_DOC_INDEXER_VERSION }}.jar"
      run: |
        mkdir -p _indexer
        curl -L -o _indexer/wildfly-doc-indexer.jar "${{ env.JAR_URL }}"

    # 3. Setup Java
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    # 4. Generate the index file
    - name: Run WildFly Doc Indexer
      env:
        SCAN_DIRECTORIES: "${{ env.WILDFLY_DOC_DIR_VERSION_TO_SCAN }},prospero,bootablejar,galleon,galleon-plugins"
      working-directory: _indexer
      run: |
        java -jar ./wildfly-doc-indexer.jar --doc-base-dir=../ --scan-dirs=${{ env.SCAN_DIRECTORIES }} --output-file-path=../wildfly-doc-index.json

    # 5. Standard Jekyll build for GitHub pages
    - name: Setup Pages
      uses: actions/configure-pages@v5
    - name: Build with Jekyll
      uses: actions/jekyll-build-pages@v1
      with:
        source: ./
        destination: ./_site
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
